name: lin

on:
  push:
    branches:
      - main
jobs:
  build:
    name: lin
    runs-on: ubuntu-latest
    steps:
    - name: apt
      run: |
        sudo apt update -q
        sudo apt install -q -y libfuse-dev libhdf5-dev
    - name: cat
      run: cat /etc/fstab
    - name: checkout
      uses: actions/checkout@v5.0.1
    - name: make
      run: |
        make
        make test
