name: lwf

on:
  push:
    branches:
      - main-
jobs:
  build:
    name: lwf
    runs-on: ubuntu-latest
    steps:
    - name: apt
      run: |
        sudo apt update -q
        sudo apt install -q -y libfuse-dev
    - name: checkout
      uses: actions/checkout@v6.0.1
      with:
        repository: ngkaho1234/fuse-lwext4
    - name: checkout
      uses: actions/checkout@v6.0.1
      with:
        repository: gkostka/lwext4
        path: lwext4
    - name: fuse
      run: |
        ls lwext4
        make
        make install
