name: mac-14

on:
  push:
    branches:
      - main-
jobs:
  build:
    name: mac-14
    runs-on: macos-14
    steps:
    - name: brew
      run: brew install macfuse

    - name: checkout
      uses: actions/checkout@v5.0.1

    - name: make
      run: |
        make
